.main, .header{
    display: block;
    justify-content: space-around;
}
.text-align{
    text-align: center;
}
.heading{
    color: solid black;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
.content{
    width: 100%;
    margin: auto;
    height: 50px;
    margin: 5px;
}
.buttonContainer{
    justify-content: space-around;
    width: 85vw;
    height: 85vw;
    border-radius: 50%;
    border: solid 8px gray;
    overflow: hidden;
}
.button-size {
    width: 50%;
    height: auto;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: #FBF31D;
}
.green{
    background-color: green;
}

.inactive-state {
    opacity: 0.5;
}
.highlight {
    opacity: 1;
}