main, header{
    display: block;
    justify-content: space-around;
}
.text-align{
    text-align: center;
}
.heading{
    color: solid black;
}
.container{
    display: flex;
    flex-flow: row wrap;
}

.buttonContainer{
    justify-content: space-around;
    width: 85vw;
    height: 85vw;
    border-radius: 50%;
    border: solid 8px gray;
    overflow: hidden;
    position: relative;
    max-width: 700px;
    max-height: 700px;
}
.button-size {
    width: 50%;
    height: auto;
}
.black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: solid 8px gray;
    width: 20vw;
    height: 20vw;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 65px;
    max-width: 175px;
    max-height: 175px;
    
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: #FBF31D;
}
.green{
    background-color: green;
}

.start {
    background-color: rgb(50,50,50)
}
.win {
    background-color: forestgreen;
}
.loss {
    background-color: red;
}

.spacer {
    width: 80vw;
    display: inline-block;
    max-width: 575px;
}

.inactive-state {
    opacity: 0.5;
}
.highlight {
    opacity: 1;
}